
  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="widget">
            <h3>Atividade Final</h3>
            <span>Desenvolvimento Web - Biblioteca</span>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="widget">
            <h3>Navegação</h3>
            <ul class="list-unstyled float-start links">
              <li><a href="https://arcabouco-da-terra-media.netlify.app/">Home</a></li>
              <li><a href="https://arcabouco-da-terra-media.netlify.app/app/pages/map">Mapa Terra Média</a></li>
              <li><a href="https://arcabouco-da-terra-media.netlify.app/app/pages/list_books">Arcabouço de Livros</a></li>
            </ul>
          </div>
          
        </div>
        
        <div class="col-lg-4">
          <div class="widget">
            <h3>Links</h3>
           
            <ul class="list-unstyled float-start links">
              <li><a href="https://pt.wikipedia.org/wiki/J._R._R._Tolkien" target="_blank">J.R.R. Tolkien</a></li>
              <li><a href="https://pt.wikipedia.org/wiki/J._R._R._Tolkien" target="_blank">Personagens</a></li>
              <li><a href="https://tangerina.uol.com.br/filmes-series/o-senhor-dos-aneis-melhores-filmes-ranking/" target="_blank">Filmes</a></li>
              <li><a href="https://www.primevideo.com/dp/0TUVXIO58IUNEPNBF8363Z7YGL?ref_=dvm_pds_tit_br_sw_s_g_mkw_sbd4URVY30r-dc&mrntrk=pcrid_687336404127_slid__pgrid_156037895907_pgeo_9101278_x__adext__ptid_kwd-10308432313&_mkw_sbd4URVY30r-dc&mrntrk=pcrid_687336404127_slid__pgrid_156037895907_pgeo_9101278_x__adext__ptid_kwd-10308432313&gad_source=1&gad_campaignid=20505040051&gbraid=0AAAAAqE9Vt3GTHa_B_M-NktaOth-TJ2bO&gclid=Cj0KCQjwmK_CBhCEARIsAMKwcD45pSTN3qaobvZCEgixoXXz6Pymh_Feoqp5f9nrpcMmIHlu8vb_sWYaAoKEEALw_wcB&gclsrc=aw.ds" target="_blank">Série</a></li>
            </ul>

            <ul class="list-unstyled social">
              <li>
                <a href="https://www.instagram.com/ivmetzker/#" target="_blank"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ivny-metzker/" target="_blank"><span class="icon-linkedin"></span></a>
              </li>
              <li>
                <a href="https://github.com/iMetzker" target="_blank"><span class="icon-github"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12 text-center">
          <p>
            Copyright &copy;
            .Todos os Direitos Reservados. &mdash; Desenvolvido por
            <a href="https://github.com/iMetzker" target="_blank">iMetzker</a>
          </p>
        </div>
      </div>
    </div>
    
  </div>